{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    <main class="container pt-4">
        {{with .Flash}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> {{.}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{end}}

        {{with .Snippet}}   
            <div class="row mt-6">
                <div class="col">
                    <h4>{{.Title}}</h4>
                </div>
                <div class="col text-end text-muted">
                    <h4>{{humanDate .Created}}</h4>
                </div> 
            </div>
            <div class="card">
                <div class="card-body">
                    <pre><code>{{.Content}}</code></pre>
                </div>
            </div>  
        {{end}}
    </main>
{{end}} 