{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    {{with .Snippet}}   
        <main class="container pt-4">
            <div class="row mt-6">
                <div class="col">
                    <h4>{{.Title}}</h4>
                </div>
                <div class="col text-end text-muted">
                    <h4>{{humanDate .Created}}</h4>
                </div> 
            </div>
            <div class="card">
                <div class="card-body">
                    <pre><code>{{.Content}}</code></pre>
                </div>
            </div>  
        </main>
    {{end}}
{{end}}